{% assign on_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
    {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
    {% assign sold_out = false %}
{% endif %}

{% assign productIndex = forloop.index | minus:1 %}
{% assign delayTime = settings.time_lazy_load | times : productIndex %}
    <div class="product product-image"><a href="{{ product.url | within: collection }}">
            <img alt="{{ product.featured_image.alt | escape }}" src="{{ product.featured_image.src | product_img_url: 'large' }}"/>
        </a>
        <div class="info-product"><a href="{{ product.url | within: collection }}">
                <h3>{{ product.title }}</h3>
                <h4>{{ product.price | money_without_trailing_zeros }}</h4>
                {% comment %}Loop through all the options and find out how many unique options within the variants{% endcomment %}
                {% assign option_index = 0 %}
                {% for option in product.options %}
                    {% capture downcased_option %}{{ option | downcase }}{% endcapture %}
                    {% assign option_index = forloop.index0 %}
                    {% assign is_color = false %}
                    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
                        {% assign is_color = true %}
                    {% endif %}
                    {% assign how_many_options = 0 %}
                    {% assign current_options = '' %}
                    {% for variant in product.variants %}
                        {% if is_color %}
                            {% assign current_option = variant.options[option_index] %}
                            {% unless current_options contains current_option %}
                                {% if how_many_options > 0 %}
                                    {% assign current_options = current_options | join: '|' | append: '|' %}
                                {% endif %}
                            {% assign current_options = current_options | append: current_option %}
                            {% assign current_options = current_options | split: '|' | sort %}
                            {% assign how_many_options = current_options | size %}
                            {% endunless %}
                        {% endif %}
                    {% endfor %}
                    {% if is_color %}
                        {% comment %}Output the amount of options for each option. Add an 's' if there is more than one available{% endcomment %}
                        {% unless option == "Title" %}
                            <p class="mb-0 colors">{{ current_options.size }} {{ option }}{% if current_options.size > 1 %}s{% endif %}</p>
                        {% endunless %}
                    {% endif %}
                {% endfor %}
            </a></div>
    </div>
