{% comment %}
    Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% if swatch == blank %}
    <div class="swatch error">
        <p>You must include the snippet swatch.liquid with the name of a product option.</p>
        <p>Use: <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
        <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
    </div>
{% else %}

    {% assign found_option = false %}
    {% assign is_color = false %}
    {% assign option_index = 0 %}

    {% for option in product.options %}
        {% if option == swatch %}
            {% assign found_option = true %}
            {% assign option_index = forloop.index0 %}
            <style>
                label[for="product-select-option-{{ option_index }}"] { display: none; }
                #modal-add-to-cart-form .selector-wrapper {display:none}
                #product-select-option-{{ option_index }} { display: none; }
                #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
            </style>
            <script>//jQuery(window).load(function() { jQuery('.product-shop .selector-wrapper:eq({{ option_index }})').hide(); });</script>
            {% assign downcased_option = swatch | downcase %}
            {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
                {% assign is_color = true %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% unless found_option %}
        <div class="swatch error">
            <p>You included the snippet swatch.liquid with the name of a product option — <code>'{{ swatch }}'</code> — that does not belong to your product.</p>
            <p>Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
            <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
            <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
        </div>
    {% else %}
        {% if is_color %}
            <div class="row modal-swatch swatch product-color clearfix" data-option-index="{{ option_index }}"  {% if swatch == "Style" %} style="display:none" {% endif %}>
                <div class="col-md-2 my-auto">
                    <div class="title d-flex justify-content-between align-items-center">
                        <h4 class="font-weight-lightbold text-capitalize">{{ swatch | upcase }}</h4>
                    </div>
                    <span class="select-value show-value"></span>
                </div>
                {% assign values = '' %}
                <div class="col-md-10 swatch-content">
                    {% for variant in product.variants %}
                        {% assign value = variant.options[option_index] %}
                        {% unless values contains value %}
                            {% assign values = values | join: ',' %}
                            {% assign values = values | append: ',' | append: value %}
                            {% assign values = values | split: ',' %}
                            <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
                                <div class="tooltip">{{ value }}</div>
                                <input id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}disabled{% endunless %} />
                                <label for="swatch-{{ option_index }}-{{ value | handle }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})">
                                    <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
                                </label>
                            </div>
                        {% endunless %}
                        {% if variant.available %}
                        <script>
                            jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
                        </script>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="row modal-swatch swatch product-variants clearfix" data-option-index="{{ option_index }}"  {% if swatch == "Style" %} style="display:none" {% endif %}>
                <div class="col-md-2 my-auto">
                    <div class="title d-flex justify-content-between align-items-center">
                        <h4 class="font-weight-lightbold text-capitalize">{{ swatch | upcase }}</h4>
                    </div>
                    <span class="select-value show-value"></span>
                </div>
                {% assign values = '' %}
                <div class="col-md-10 swatch-content">
                    {% for variant in product.variants %}
                        {% assign value = variant.options[option_index] %}
                        {% unless values contains value %}
                            {% assign values = values | join: ',' %}
                            {% assign values = values | append: ',' | append: value %}
                            {% assign values = values | split: ',' %}
                            <div data-value="{{ value | escape }}" class="swatch-element mr-2 {{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
                                <button  class="size_option {% if forloop.first %} selected {% endif %}"  type="button"  {% if value.size > 3%}style="border-radius: 10%;"{% endif %} 
                                    {% if value.size > 7%}style="font-size: 12px;"{% endif %}>
                                    <input id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}disabled{% endunless %} />
                                    <label for="swatch-{{ option_index }}-{{ value | handle }}">
                                        {{ value }}
                                        <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
                                    </label>
                                </button>
                            </div>
                        {% endunless %}
                        {% if variant.available %}
                        <script>
                            $('.size_option').on('click', function(){
                                $('.selected').removeClass('selected');
                                $(this).addClass("selected");
                            })
                            jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
                        </script>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        
        {% endif %}
        

    {% endunless %}

{% endif %}