{% comment %}
  This is your /cart template. If you are using the Ajaxify Cart plugin,
  your form (with action="/cart") layout will be used in the drawer/modal.

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments
{% endcomment %}
<div class="container pt-5">
  {% if cart.item_count > 0 %}
  <div class="row text-center">
    <h5 class="cart-heading mx-auto">You have {{cart.item_count}} {% if cart.item_count > 1 %}items{%else%}item{% endif %}  in your cart</h5>
  </div>  
  <div class="row free-ship-announcement">
    <h5 class="mx-auto my-auto">Free shipping for any US orders above $75</h5>
  </div>
  <form action="/cart" method="post" novalidate>
    <div class="row mt-5">
        <div class="col-12 col-md-8 mb-5">
          <div class="row w-99 white-pannel p-3 text-center">
            <div class="col-12  pb-3">
              <h6 class="free-shipping-heading mb-3">
                {% if cart.total_price < 7500 %}
                <span style="color:#F68F36;">{{7500  | minus: cart.total_price | money}}</span> away from FREE shipping
                {% else %}
                <span style="color:#F68F36;">FREE</span> shipping
                {% endif %}
                
              </h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ cart.total_price | times: 100 | divided_by: 7500 }}%" aria-valuenow="{{ cart.total_price }}" aria-valuemin="0" aria-valuemax="{{7500}}"></div>
              </div>
              <div class="d-flex justify-content-between w-100 pt-2">
                <h4>$0</h4>
                <h4>$75</h4>
              </div>
            </div>
          </div>
          {% for item in cart.items %}
            <div class="row w-99 white-pannel mt-4 p-3">
              <div class="col-12 col-md-4">
                <a class="cart-item-img text-center w-100" href="{{ item.url | within: collections.all }}">
                  <img src="{{ item | img_url: 'medium' }}"  alt="{{ item.title | escape }}" />
                </a>
              </div>
              <div class="col-12 col-md-8">
                <div class="cart-item-details p-3">
                  <a href="{{ item.url }}" class="cart-item-name">
                    {% if settings.enable_multilang %}
                    <span class="lang1">{{ item.product.title | split: '|' | first }}</span>
                    <span class="lang2">{{ item.product.title | split: '|' | last }}</span>
                    {% else %}
                    {{ item.title | split: '|' | first }}
                    {% endif %}
                  </a>
                  <p class="price">{{ item.line_price | money }}</p>
                  <p class="size">  
                    {% if item.product.variants.size != 0 %}
                    {% unless item.variant.title contains 'Default' %}
                    <small>{{ item.variant.title }}</small>
                    {% endunless %}
                    {% endif %}
                  </p>
                  {% if item.properties.size > 0 %}
                    <p style="font-size: 14px;">
                      {% for p in item.properties %}
                      {% unless p.last == blank %}
                      {{ p.first }}:
                      {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                      {{ p.last }}
                      {% endif %}
                      <br>
                      {% endunless %}
                      {% endfor %}
                    </p>
                  {% endif %}
                  <div class="row">
                    <div class="col-4 col-md-1 my-auto">QTY:</div>
                    <div class="col-8 col-md-5 mt-2">
                      <div class="">
                        <span class="dec-button dec-qty qty-button">-</span>
                        <input class="qty" type="text" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" data-id="{{ item.id }}">
                        <span class="inc-button inc-qty qty-button">+</span>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-12 text-center d-flex">
                      <a class="btn btn-add-more-item mr-2" href="{{item.url}}">Add more item</a>
                      <button type="submit" class="btn btn-info mr-2">Update Cart</button>
                      <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" data-id="{{ item.id }}" type="button" class="btn btn-outline-danger mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                      </a>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="col-12 col-md-4">
          <div class="row white-pannel p-4">
            <div class="w-100 d-flex justify-content-between">
              <h5 class="cart-subtotal">Subtotal:</h5>
              <p class="subtotal">{{ cart.total_price | money }}</p>
            </div>
            <p class="sub-title w-100 text-center p-0">Shipping and Tax are Calculated at Checkout</p>
            <input type="submit" name="checkout" class="btn btn-orange w-100 text-center" {% if settings.enable_multilang %}data-translate="cart.general.button_checkout"{%endif%} value="{{ 'cart.general.button_checkout' | t }}">
            <p class="sub-title w-100 text-center p-0">Or</p>
            <div class="row pr-5 pl-5">
              <div class="offset-md-3"></div>
              <div class="col-md-9">
                {% if additional_checkout_buttons %}
                <p class="m-0">{{ content_for_additional_checkout_buttons }}</p>
                {% endif %}
              </div>
            </div>
            <style>
              .shopify-cleanslate > div > ul{
                display: block !important;
              }
              .size{
                font-size: 14px;
              }
            </style>
            
          </div>
        </div>
    </div>
  </form>

  
  {% else %}
  <p {% if settings.enable_multilang %}data-translate="cart.general.empty"{%endif%}>{{ 'cart.general.empty' | t }}</p>
  <p {% if settings.enable_multilang %}data-translate="cart.general.continue_browsing_html"{%endif%}>{{ 'cart.general.continue_browsing_html' | t }}</p>
  {% endif %}
</div>
<div class="white-section">
  <div class="container">
    <h2 class="related-collection-heading pt-4">More items to explore </h2>
    <div class="row product-slider product-row owl-carousel m-0">
        {% for product in collections['all-product-lastest'].products %}
            <div>
                <a rel="nofollow" href="{{ product.url }}" >
                    <div class="product-item p-2 m-0">
                        <div class="product-img text-center mx-auto"><img class="mw-100 mx-auto" src="{{ product | img_url:'large' }}"/></div>
                        <div class="product-info">
                            <p class="mb-0 mt-3 pr-0 text-capitalize">{{ product.title | truncate: 50}}</p>
                        </div>
                        <div class="mt-3 product-prices d-flex ">
                            <p class="mb-0 my-auto sale">{{ product.price | money_without_trailing_zeros }}</p>
                            {% unless product.compare_at_price_max == 0 %}
                            <p class="mb-0 my-auto original">{{ product.compare_at_price_max | money_without_trailing_zeros}}</p>
                            {% endunless %}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
  </div>
  <div class="container mt-5 pb-5">
    <h2 class="related-collection-heading">Recently watched </h2>
    {% include 'recently-viewed' %}
</div>
</div>